*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'monserrat',sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.container{
    position: relative;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6abd58;
    padding: 0 50px;
    z-index: 10;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}
nav .brand{
    font: 1.2em 'fredoka one',sans-serif;
}
nav .navigation{
    display: flex;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul.nav{
    padding: 0 30px 0 0;
    border-right: 1px solid #6abd58;
}
nav ul.nav li{
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: 1px;
}
nav ul li a{
    position: relative;
    display: inline-block;
}
nav li a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 1px;
    width: 0;
    background-color: #6abd58;
    transition: .5s;
}
nav ul li.active a::before,
nav ul li a:hover::before
{
    width: 90%;
}
nav ul.user{
    padding: 0 0 0 10px;
}
nav ul.user li{
    margin: 0 0 0 20px;
    cursor: pointer;
}
.hero{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg,rgba(0,0,0,.15),rgba(255,255,255,.15)), url(../img/stick.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    /* background-attachment: fixed; */
}
.hero .jumbotron{
    width: 600px;
    text-align: center;
}
.hero h1{
    color: #fff;
    margin: 0 0 30px;
    letter-spacing: 10px;
    font-size: 2.2em;
    font-weight: 100;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
}
.hero p{
    margin: 10px 0 20px;
    line-height: 1.5em;
    color: #555;
}
.hero form input{
    height: 40px;
    width: 500px;
    border: 2px solid #6abd58;
    padding: 0 0 0 10px;
    outline: none;
}
.hero form input:focus{
    box-shadow: inset 0 -2px 0 #55f;
}
.hero form button{
    width: 60px;
    height: 40px;
    outline: none;
    border: none;
    border: 2px solid #6abd58;
    background-color: #fff;
    color: #6abd58;
    border-radius: 5px;
}
.categories{
    position: relative;
    min-height: 80vh;
    padding: 50px;
    background: #fff;
    color: #555;
}
.categories .card{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-50%,0);
    width: 60vw;
    /* border: 1px solid #444; */
    background: #fff;
    border-radius: 10px;
    padding: 0 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.categories .card i{
    color: #6abd58;
}
.categories .card-head{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 50px 0 30px;
    border-bottom: 1px solid #555;
    box-shadow: 0 6px 5px -4px rgba(0,0,0,.1);
}
.categories .card-head i{
    font-size: 2em;
    display: block;
    text-align: center;
    margin: 0 0 20px;
}
.categories .card-head a{
    font-weight: 600;
}
.categories .card-body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    /* padding: 10px 0; */
}
.categories .card-body li{
    list-style: none;
    margin: 15px;
}
.categories .card-body i{
    width: 32px;
    text-align: center;
}
.categories .card-body a:hover{
    text-decoration: underline;
}
.companies{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:50px 150px;
    background-color: #6abd58;
    color: #fafafa;
    font-size: 5em;
}
.browse{
    min-height: 60vh;
    padding: 100px 150px 50px;
}
.browse section{
    margin: 0 0 50px;
}
.browse h3{
    display: inline-block;
    margin: 0 0 20px;
    position: relative;
}
.browse h3::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 40%;
    height: 4px;
    background-color: #6abd58;
}
.browse h3 span{
    position: relative;
    z-index: 2;
}
.browse .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    position: relative;
}
.browse .nav{
    position: absolute;
    background-color: #6abd58;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
    color: #fff;
}
.browse .nav.prev{
    left: -80px;
    background-color: rgba(106,189,87,.5);
}
.browse .nav.next{
    right: -80px;
}
.browse .card-head .icons{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fafafa;
    background-color: rgba(150,150,150);
    border-top-right-radius: 5px;
    padding: 5px 10px;
    z-index: 5;
    opacity: 0;
    transition: .15s;
}
.browse .card-head:hover .icons{
    opacity: 1;
}
.browse .card-head .icons:hover{
    color: #f55;
}
.browse .card-head{
    position: relative;
    margin: 0 0 10px;
    height: 180px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 6px 5px -4px rgba(0,0,0,.5);
}
.browse .card-head:hover img{
    transform: scale(1.1);
}
.browse .card .card-head img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.browse .card .card-body p a{
    font-size: 1.1em;
    color: #000;
    text-decoration: underline;
}
.browse .card-body a.cat{
    color: #fff;
    font-size: .75em;
    background-color: #6abd58;
    border-radius: 7px;
    padding: 0 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
}
.browse .card-body a.cat:hover{
    opacity: .75;
}
.browse .card-body .price{
    font-weight: 700;
    font-size: .8em;
    margin: 5px 0 0;
}
.browse .card-body button{
    font-weight: 500;
    display: block;
    outline: none;
    border: none;
    color: #fff;
    background-color: #55f;
    padding: 5px 10px;
    margin: 10px 0 0;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}
.browse .card-body button i{
    margin: 0 5px 0 0;
}
footer{
    background-color: #555;
    height: 50vh;
    padding: 100px 150px;
    display: flex;
    justify-content: space-between;
}
footer .brand{
    font: 4em 'fredoka one',sans-serif;
    color: rgba(255, 255, 255, .15);
    order: 3;
}
footer h3{
    font-size: 1.3em;
    margin: 0 0 10px;
    color: #fafafa;
}
footer ul li{
    list-style: none;
    margin: 0 0 7px;
    color: #dadada;
    font-size: .8em;
}
footer ul li a:hover{
    text-decoration: underline;
}
footer ul li i{
    width: 24px;
}
.detail-product{
    padding: 130px 150px 50px;
}
.product{
    display: flex;
    /* height: 400px; */
    padding: 0 0 50px;
}
.product .image{
    position: relative;
    overflow: hidden;
    margin: 0 100px 0 0;
    height: 400px;
    width: 400px;
    box-shadow: 0 8px 5px -6px rgba(0,0,0,.5);
}
.product .image img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(.3);
    transition: .5s;
}
.product .image:hover img{
    filter: grayscale(0);
}
.product .image .nav{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    color: rgba(255, 255, 255, .5);
    font-size: .7em;
}
.product .image .nav i{
    margin: 0 2px 0 0;
}
.product .image .nav i.active{
    color: #fafafa;
}
.product form{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product form h3{
    margin: 0 0 30px;
    position: relative;
    display: inline-block;
}
.product form h3::before{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 5px;
    width: 40%;
    background: #6abd58;
}
.product form .form-box{
    height: 50px;
    display: flex;
    align-items: center;
}
.product form .form-box:nth-child(even){
    background-color: rgba(111, 250, 79, 0.25);
}
.product form .form-box{
    border-bottom: 1px solid #555;
    font-weight: 500;
}
.product form .form-box span:first-child{
    flex-basis: 50%;
}
.product form input{
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    border: none;
}
.product form button{
    height: 50px;
    min-width: 50px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 7px 5px -6px rgba(0,0,0,.2);
    font-weight: 600;
    margin: 0 10px 0 0;
}
.product form button[name="wishlist"]{
    font-size: 1.2em;
    color: rgba(255, 100, 100, .5);
}
.product form button[name="wishlist"]:hover{
    color: rgba(255, 100, 100, 1);
}
.product form button[name="buy"]{
    border: 2px solid #6abd58;
    color: #6abd58;
    background-color: #fff;
}
.product form button[name="buy"]:hover,
.product form button[name="add-cart"]:hover{
    filter: saturate(.7);
}
.product form button[name="add-cart"]{
    background-color: #6abd58;
    color: #fff;
}
.company{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
}
.company .detail{
    display: flex;
    align-items: center;
}
.company .detail .image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #6abd58;
    box-shadow: 0 0 2px rgba(0,0,0,.15);
    overflow: hidden;
    margin: 0 20px 0 0;
}
.company .detail .image img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.company .detail .desc a:hover{
    text-decoration: underline;
}
.company .detail .desc a:last-child{
    color: #555;
    font-size: .8em;
}